# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ProgramsTest\course-projects-of-fdu-software-engineering\2020-2021 1 SOFT130015 数据库设计\Lab\Lab1\src\17307110112-刘人豪-lab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
