# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ProgramsTest\course-projects-of-fdu-software-engineering\2018-2019 1 SOFT120001 程序设计A\Project\Project1\src\untitled1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
