# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ProgramsTest\course-projects-of-fdu-software-engineering\2019-2020 1 SOFT130004 数据结构与算法设计\Lab\Lab8\src\Lab 6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
